.topScore {
    display: flex;
    justify-content: space-between;
}

.atBat {
    display: flex;
    margin-right: 2em;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.home {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.inn {
    display: flex;
    margin: 0 2em;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.guest {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.pitch {
    display: flex;
    margin-left: 2em;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.bottomScore {
    display: flex;
    justify-content: space-between;
}

.ball {
    display: flex;
    margin-right: 2em;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.strike {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}